$black-1: #0000001A;
$black-2: #231F20;
$black-3: #00000024;
$black-4: #00000040;
$black-5: #00000014;

$gray-1: #EFF2F6CC;

$white-1: #ffffff;

$gallery-border: $black-1;

$text-regular: $black-2;

$product-title: $black-2;
$product-desc: $black-2;
$product-option-border: $black-1;
$product-option-color: $black-2;
$product-border-bg: $black-2;
$product-price: $black-2;
$product-border-option: $black-1;

$input-quantity-label: $black-2;
$input-quantity-border: $black-3;
$input-radio-checked-bg: $black-2;

$base-modal-bg: $black-4;
$base-modal-bg-content: $white-1;
$base-modal-header-border: $black-5;

$base-gallery-border-active-item: $black-2;
$base-gallery-action-bg: $gray-1;